:root {
  --black: black;
  --grey: grey;
  --white: #fff;
  --orange: #FFD600;
  --dark-orange: #E1670E;
  --light-grey: #CACACA;

}

body {
  background-color: var(--white);
  font-family: 'TTChocolatesBlack' , sans-serif;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.main {
  width: 100%;
  justify-content: space-around;
}

.params-title {
  text-align: center;
}
.door_left {
  margin-right: 20px;
}

.door_left, .door_right {
  width: 200px;
  height: 100%;
  align-items: center;
  background-color: red;
  border: green 20px solid;
}

.left-handle, .right-handle {
  width: 30%;
  height: 20px;
  background-color: blue;
}

.opening-active {
  justify-content: flex-end;
}

/*.door_right {*/
/*  justify-content: flex-end;*/
/*}*/

.door__description {
  text-align: center;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.wrapper {
  /* max-width: 1920px; */
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--white);
}

/* header */

.header {
  height: 144px;
  align-items: center;
  /* box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1); */
}

.header__nav {
  width: 100%;
  align-items: center;
  height: 36px;
  justify-content: space-between;
}

.header__logo-1980 {
  display: block;
  max-width: 224px;
  height: 100%;
}

.header__logo-1024 {
  display: none;
}

.header__logo-320 {
  display: none;
}

.nav__list {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  align-self: center;
}

.nav__item:not(:last-child) {
  height: 24px;
  margin-right: 45px;
}

.nav__link {
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: 'TTChocolatesRegular', sans-serif;
  color: var(--grey);
  cursor: pointer;
}

.nav__link:hover {
  border-bottom: 2px solid var(--orange);
}

.nav__link:active {
  color: var(--dark-orange);
  border-bottom: 2px solid var(--dark-orange);
}

.nav__link:focus {
  border: 2px solid var(--orange);
}

.nav__phone {
  height: 36px;
  font-size: 36px;
  line-height: 36px;
  font-family: 'TTChocolatesBold', sans-serif;
  color: var(--black);
}

.main-container {
  /* max-width: 1770px; */
  margin: 0 auto;
}

/* slider */

.slider {
  /* margin-bottom: 100px; */
  overflow: hidden;
}

.slider__wrapper {
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* max-width: 837px; */
  margin-top: 144px;
  z-index: 20;
}

.slider__title {
  font-size: 60px;
  line-height: 78px;
  font-family: 'TTChocolatesBold', sans-serif;
  text-transform: uppercase;
  color: var(--white);
}

.slider__title-cartridge {
  color: var(--orange);
}

.slider__text {
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 78px;
  font-family: 'TTChocolatesRegular', sans-serif;
  color: var(--white);
}

.slider__button {
  width: 313px;
  height: 63px;
  margin-bottom: 218px;
  font-size: 29px;
  line-height: 29px;
  font-family: 'TTChocolatesBold', sans-serif;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--orange);
  border: none;
  border-radius: 39px;
  cursor: pointer;
}

.slider__button:hover, .slider__button:focus {
  background-color:rgba(255, 153, 0, 0.7);
}

.slider__button:active {
  background-color: var(--dark-orange);
}

.swiper-container {
  position: relative;
}

.swiper-wrapper {
  position: absolute;
  width: 100%;
}

.slider__swiper-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--orange);
  font-size: 80px;
}

.slider__swiper-pagination {
  position: absolute;
  bottom: 50px !important;
  z-index: 30;
}

.swiper-pagination-bullet {
  margin: 0 !important;
  width: 15px;
  height: 15px;
  background-color: var(--white);
  cursor: pointer;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px !important;
}

/* hi-black */

.hi-black {
  flex-direction: column;
  background-color: var(--white)
}

.hi-black__wrapper {
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.hi-black__title {
  align-self: center;
  margin-right: 40px;
  font-size: 33px;
  line-height: 33px;
  font-family: 'TTChocolatesBold', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.hi-black__img {
  max-height: 100px;
}

.hi-black__descr {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}


/*telegram form*/
html,
body {
  margin: 0;
  padding: 0;
  font: 16px "Roboto", sans-serif;
  background: #7156f3; }

* {
  box-sizing: border-box; }

.form-wrapper {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }

.contact-form {
  width: 100%;
  max-width: 460px;
  padding: 60px;
  background: #1c1e21;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3); }
.contact-form__title {
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: #fff1c6;
  font-size: 18px;
  margin: 0 0 30px; }
.contact-form__message {
  text-align: center; }
.contact-form__input_name {
  height: 50px;
  border: 1px solid #282a2e;
  border-radius: 5px;
  width: 100%;
  background: url("../../views/main/img/user.svg") center left 15px no-repeat, #1c1e21;
  background-size: 30px;
  margin-bottom: 20px;
  padding: 0 15px 0 59px;
  font: 16px "Roboto", sans-serif;
  color: #fff;
  transition: 0.3s; }
.contact-form__input_name:focus {
  transition: 0.3s;
  border: 1px solid rgba(255, 241, 198, 0.2); }
.contact-form__input_phone {
  height: 50px;
  border: 1px solid #282a2e;
  border-radius: 5px;
  width: 100%;
  background: url("../../views/main/img/tel.svg") center left 15px no-repeat, #1c1e21;
  background-size: 30px;
  margin-bottom: 20px;
  padding: 0 15px 0 59px;
  font: 16px "Roboto", sans-serif;
  color: #fff;
  transition: 0.3s; }
.contact-form__input_phone:focus {
  transition: 0.3s;
  border: 1px solid rgba(255, 241, 198, 0.2); }
.contact-form__input_file {
  display: none; }
.contact-form__file-button {
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid #282a2e;
  border-radius: 5px;
  width: 100%;
  background: url("../../views/main/img/file.svg") center left 15px no-repeat, #1c1e21;
  background-size: 30px;
  margin-bottom: 20px;
  padding: 0 15px 0 59px;
  font: 16px "Roboto", sans-serif;
  color: #757575;
  cursor: pointer; }
.contact-form__button {
  background: #fff1c6;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: none;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  font: 16px "Roboto", sans-serif;
  transition: 0.3s;
  cursor: pointer; }
.contact-form__button:hover {
  transition: 0.3s;
  background: #7156f3;
  color: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3); }

.preloader {
  position: relative;
  margin: 0 0 0 45%;
  height: 15px;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.3s; }
.preloader_active {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: 0.3s; }
.preloader:before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  content: "";
  position: absolute;
  background: #393e46;
  animation: preloader_before 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1); }
.preloader:after {
  width: 12px;
  height: 12px;
  left: 15%;
  border-radius: 50%;
  content: "";
  position: absolute;
  background: #5f646c;
  animation: preloader_after 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1); }

@keyframes preloader_before {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateX(160px) scale(1.5) rotate(264deg);
    background: #00adb5;
    border-radius: 0; }
  100% {
    transform: translateX(0px) rotate(0deg); } }
@keyframes preloader_after {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateX(-160px) scale(1.5) rotate(-264deg);
    background: #00fff5;
    border-radius: 0; }
  100% {
    transform: translateX(0px); } }
@media (max-width: 768px) {
  .form-wrapper {
    padding: 15px; } }
@media (max-width: 480px) {
  .contact-form {
    padding: 30px 15px; }
  .contact-form__title {
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
